<p>dummies works!</p>
<div>
    <a routerLink="api" class="card" routerLinkActive="activeButton">
        <span>API</span>
    </a>
</div>
<div>
    <a routerLink="/lazy-load/sample" class="card" routerLinkActive="activeButton">
        <span>lazy load</span>
    </a>
</div>
<div>
    <a routerLink="login" class="card" routerLinkActive="activeButton">
        <span>login</span>
    </a>
</div>
<div>
    <a routerLink="/binding" class="card" routerLinkActive="activeButton">
        <span>Component binding</span>
    </a>
</div>
<div>
    <a routerLink="directive" class="card" routerLinkActive="activeButton">
        <span>directive</span>
    </a>
</div>
<br>
<p>
    <button routerLink="/">Back</button>
</p>
