<p>dummies works!</p>
<div>
    <a routerLink="api" class="card" routerLinkActive="activeButton">
        <span>API</span>
    </a>
</div>
<div>
    <a routerLink="/lazy-load/sample" class="card" routerLinkActive="activeButton">
        <span>lazy load</span>
    </a>
</div>
<div>
    <a routerLink="login" class="card" routerLinkActive="activeButton">
        <span>login</span>
    </a>
</div>
<div>
    <a routerLink="/binding" class="card" routerLinkActive="activeButton">
        <span>Binding</span>
    </a>
</div>
<div>
    <a routerLink="directive" class="card" routerLinkActive="activeButton">
        <span>directive</span>
    </a>
</div>
<div>
    <a routerLink="search-db" class="card" routerLinkActive="activeButton">
        <span>search db</span>
    </a>
</div>
<div>
    <a routerLink="form" class="card" routerLinkActive="activeButton">
        <span>Reactive form</span>
    </a>
</div>
<div>
    <a routerLink="http-rxjs" class="card" routerLinkActive="activeButton">
        <span>Http Rxjs</span>
    </a>
</div>
<div>
    <a routerLink="di" class="card" routerLinkActive="activeButton">
        <span>DI</span>
    </a>
    <br>
    <a routerLink="di2" class="card" routerLinkActive="activeButton">
        <span>DI2</span>
    </a>
</div>
<div>
    <a routerLink="route-resolver" class="card" routerLinkActive="activeButton">
        <span>Route Resolver</span>
    </a>
</div>
<br>
<p>
    <button routerLink="/">Back</button>
</p>
