<form [formGroup]="addForm" *ngIf="optionType" (ngSubmit)="addSubmit()">

        <div *ngIf="optionType  === 'textbox' || optionType === 'textarea'">
            <ng-container *ngTemplateOutlet="basicFieldsTemplate"></ng-container>
            required: <input type="checkbox" formControlName="requried" /><br>
        </div>

        <div *ngIf="optionType === 'checkbox'">
            <select formControlName="checkboxOption" #optionField>
                <option value="single">Single</option>
                <option value="multiple">Multiple</option>
            </select>

            <div>
                <ng-container *ngTemplateOutlet="basicFieldsTemplate"></ng-container>
            </div>

            <div *ngIf="optionField.value === 'multiple'">
                <div>
                   
                    <div formArrayName="groupCheckOptions">
                        <!-- <ng-container *ngFor="let _ of groupCheckOptions.controls; index as i"> -->
                        <ng-container *ngFor="let _ of addForm.get('groupCheckOptions').controls; index as i">
                            <div [formGroupName]="i" style="border: 1px gray solid;">
                                <div>{{i+1}}</div>
                                <label>label: <input formControlName="label" />*</label><br>
                                <label>key: <input formControlName="key" />*</label><br>
                                <label>value: <input formControlName="value" />*</label><br><br>
                            </div>
                        </ng-container>
                        <button (click)="addGroupCheckOption()" type="button">+Add</button>
                    </div>
                   
                </div>
            </div>


        </div>


        <ng-template #basicFieldsTemplate>
            key: <input type="text" formControlName="key" required />*<br>
            label: <input type="text" formControlName="label" required />*<br>
        </ng-template>

    <hr>
    <button style="margin-left:250px;">create form</button>
</form>


