<h1>Reactive Form</h1>

<h4>simple</h4>
<label>Title: </label>
<input type="text" [formControl]="title" />
<div>{{title.value}}</div>

<hr />

<h4>bind with form tag by [formGroup] and nested form groups</h4>
<form [formGroup]="myForm" (ngSubmit)="onFormSubmit()">
    <label>Name: <input type="text" formControlName="name" required /></label><br>
    <label>Title: <input type="text" formControlName="title" /></label><br>
    <div formGroupName="address">
        <h3>Address:</h3>
        <label>Street: <input type="text" formControlName="street"/></label><br>
        <label>City: <input type="text" formControlName="city"/></label><br>
        <label>State: <input type="text" formControlName="state"/></label><br>
        <label>Zip code: <input type="text" formControlName="zip"/></label><br>
    </div>
    <button>Submit</button>
</form>
<div>form values: {{myForm.value | json}}</div>

<hr>

<h4>using formBuilder with validators</h4>
<form [formGroup]="myFormBuilder" (ngSubmit)="onForm2Submit()">
    <label>Name: <input type="text" formControlName="name" required />required</label><br>
    <label>Title: <input type="text" formControlName="title" /></label><br>
    <div formGroupName="address">
        <h3>Address:</h3>
        <label>Street: <input type="text" formControlName="street"/></label><br>
        <label>City: <input type="text" formControlName="city"/>minLength 3</label><br>
        <label>State: <input type="text" formControlName="state"/></label><br>
        <label>Zip code: <input type="text" formControlName="zip"/>required</label><br>
    </div>
    <button>Submit</button>
</form>
<div>Form Valid: {{myFormBuilder.valid}}</div>
<div>form values: {{myFormBuilder.value | json}}</div>
<hr>

<h4>dynamic form</h4>
<form [formGroup]="dynamicForm">
    <label>Name: <input type="text" formControlName="name"></label><br>
    <div formArrayName="favorites">
        <h3>favorites</h3> 
        <button (click)="addFavorite()" type="button">Add favorites</button>
        <div *ngFor="let favorite of favorites.controls; let i=index">
            <!-- The repeated alias template -->
            <label>
                favorite {{i+1}}:
              <input type="text" [formControlName]="i" (keypress)="favoriteOnChange($event)">
            </label><button type="button" [disabled]="favorites.length === 1" (click)="deleteFavorite(i)">X</button>
        </div>
    </div>
</form>
{{dynamicForm.value | json}}

<br><br>
<a routerLink="/dummies">back</a>