<p>multiselect-dropdown works! <a routerLink="/plug-ins">Back</a></p>
<ss-multiselect-dropdown  id="intent"
    [options]="keywordMasterCategoryOptions"
    [(ngModel)]="filterKeys.keywordMasterCategory"
    [texts]="keywordMasterCategoryDefaultTexts"
    [settings]="keywordMasterCategorySettings"
    (ngModelChange)="onChangekeywordMasterCategory($event)"
    (onSelect)="OnSelect($event)"
    (dropdownOpened)="dropdownOpenedKeywordMasterCategory()">
</ss-multiselect-dropdown>
<button (click)="submitData()" type="button">Submit</button>

